.fon {
  min-height: 300px;
  border-radius: 6px;
  margin-top: 48px;
  margin-bottom: 32px;
  background: white;
}
.fon__img {
}

.profile {
  display: flex;
  margin-bottom: 32px;
}

.avatar {
}

.avatar .avatar__img {
  min-width: 180px;
  min-height: 180px;
  border-radius: 50%;
  background: white;
}

.prof__info {
  display: flex;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.prof__name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
